<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <object name="myRepo" type="SubSonic.Repository.SimpleRepository, SubSonic.Core"/>
      <!-- BLL is the name of the namespace or DLL-->
      <object name="CustomerBLL" type="BLL.Customer.CustomerBLL, BLL" singleton="false" />
      <object name="DriverBLL" type="BLL.Driver.DriverBLL, BLL" singleton="false" />
      <object name="CDRBLL" type="BLL.CDPCDR.CurrentDayRouteBLL, BLL" singleton="false" />
      <object name="CDPBLL" type="BLL.CDPCDR.CurrentDayPickupBLL, BLL" singleton="false" />
    </objects>
  </spring>
  <connectionStrings >
    <add name="jake" connectionString="server=jake\sqlexpress;database=Dispatch;uid=sa;pwd=kristian;" />
  </connectionStrings>
  <applicationSettings>
    <WinClient.Properties.Settings>
      <setting name="terminal" serializeAs="String">
        <value>Station A</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>jake</value>
      </setting>
      <setting name="db" serializeAs="String">
        <value>Dispatch</value>
      </setting>
      <setting name="dbuser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="dbpw" serializeAs="String">
        <value>kristian</value>
      </setting>
      <setting name="ActiveStations" serializeAs="String">
        <value>2</value>
      </setting>
    </WinClient.Properties.Settings>
  </applicationSettings>
  </configuration>