<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <!-- WinClient is the name of the namespace.-->
      <object Name="myRepo" type="SubSonic.Repository.SimpleRepository, SubSonic.Core"/>
      <object Name="CustomerPresenter" type="WinClient.Presenters.Customer, WinClient" singleton="false" />
      <object Name="CustomerBLL" type="BLL.Customer.CustomerBLL, BLL" singleton="false" />
      <object Name="CustomerDAL" type="DispatchAR.CUSTOMER, DispatchAR" singleton="false" />
      <object Name="EmployeePresenter" type="WinClient.Presenters.Employee, WinClient" singleton="false" />
      <object Name="EmployeeBLL" type="BLL.Employee.EmployeeBLL, BLL" singleton="false" />
      <!-- DAL is the name of the namespace.-->
      <!--
      <object name="EmployeeDAL" type="DAL.Employee.EmployeeDAL, DAL" singleton="false" />
      -->
      <object name="EmployeeDAL" type="DispatchAR.Driver, DispatchAR" singleton="false" />
      
      <!--
      <object name="CustomerDAL" type="DAL.Customer.CustomerDAL, DAL" singleton="false" />
      -->
      
      <!--
      <object name="EmployeeDAL" type="DispatchAR.DRIVER, DispatchAR" singleton="false" />
      -->
    </objects>
  </spring>
  <connectionStrings >
    <add name="jake" connectionString ="server=jake\sqlexpress;database=Dispatch;uid=sa;pwd=kristian;"/>
  </connectionStrings>
  </configuration>