<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="jake"
         connectionString="Data Source=jake\sqlexpress;Integrated Security=SSPI;Database=Dispatch"
         providerName="System.Data.SqlClient"
         />
  </connectionStrings>
</configuration>